.container{
    background-color: rgb(232, 232, 232);
    font-family: 'lato',sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 60%;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 8px 10px rgb(220, 219, 219);
    border-radius: 10px;
    overflow: hidden;
}
.ImageWrap{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: rgb(83, 196, 83);

}
.ImageWrap .imageVector{
    min-height: 200px;
    min-width: 200px;
    max-height: 400px;
    max-width: 400px;
    object-fit: cover;
}
.formWrap{
    padding: 10px;
    margin: 10px;
    max-height: 500px;
    max-width: 500px;
    flex: 0.5;
}
.formTitleText h1{
    padding: 3px 0px;
}
.formTitleText p{
    padding: 2px 0px;
    margin-bottom: 20px;
}
.formTitleText p:last-child{
    color: #5d5d5d;
    font-size: 14px;
}
.formTitleText > p > a{
    color: green;
    text-decoration: none;
    border-bottom: 1px solid green;
}
.inputContainer{
    display: flex;
    flex-direction: column;
}
.inputContainer label{
    padding: 10px 0px;
    
}
.inputContainer input{
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(232, 232, 232);
    width: 90%;
}
.inputContainer input:focus{
    border: 2px solid green;
}
.forgot{
    padding: 15px 0px;
    font-size: 14px;
    color: green;
}
.buttonContainer button{
    outline: none;
    border: none;
    background-color: green;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}