.projectComponent{
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Lato,sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    box-shadow: 1px 1px 4px 0px rgb(185, 185, 185);
    background-color: #fff;
}
.logo{
    padding: 5px;
    margin-left: 2em;
    min-width: 20%;
}



.searchform{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.form{
    display: flex;
    align-items: center;
    border-radius: 20px;
    align-items: center;
    width: 40%;
    overflow: hidden;
}
.searchIcon{
    background-color: green;
    color: #fff;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 7px;
}
.search{
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
}

.ContainerProfile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2em;
    min-width: 60%;
}
.profile{
    font-size: 36px;
    margin: 0px 10px;
    color: green;
}


.project{
    display: flex;
    padding: 30px;
    width: 60%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.newProjects{
    box-shadow: 2px 2px 8px 0px rgb(185, 185, 185);
    border-radius: 10px;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: #fff;
}
.addButton{
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    background-color: #e7e6e6;
    border-radius: 50%;
    padding: 20px;
}
.addIcon{
    color: green;
    font-size: 48px;
}
.addButton:hover{
    background-color: rgb(218, 245, 218);
}
.registerChama{
    font-size: 20px;
    padding: 10px;
}
.projectHead{
    text-align: center;
    padding: 20px;
    margin: 10px;
}
.projectHeadTitle{
    padding: 10px;
}