*{margin: 0;}
.body{
    display: flex;
    height: 100vh;
}
.aside{
    flex:1;
    width:'100vh';
    position:'fixed';
}
.container{
    flex: 6;
    background-color: rgb(233, 231, 231);
}
.pages{
    padding: 20px;
}