.navProject{
    background-color: #fff;
    padding: 10px;
    position: sticky;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    font-family: 'lato', sans-serif;
    border: 1px solid rgb(190, 189, 189);
}
.updateButton{
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
}
.updateButton:hover{
    background-color: rgb(61, 157, 61);
}