.asidenav{
    position: sticky;
    padding: 10px;
    border-right: 1px solid rgb(190, 189, 189);
    height: 85vh;
}
.asidenavItem{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: #000;
}
.asidenavItem:hover{
    background-color: green;
    color: #fff;
}
.active{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    font-weight: 500;
    background-color: green;
    color: #fff;
}