.inputField{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Lato,sans-serif;
    width: 250px;
    margin: 5px 10px;
}
.inputField label{
    font-size: 16px;
    padding: 10px 0px;
    font-weight: 500;
    margin: 5px 0px;
}
.inputField input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2e2e2e;
    outline: none;
    width: 100%;
}