.list{
    padding: 0px;
    font-family: lato, sans-serif;
    font-weight: 400;
}
.listItem{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 30px;
    margin: 5px;
    border-radius: 5px;
}
.listicon{
    padding-right: 10px;
}
.listItem:hover{
    background-color: rgb(56, 203, 3);
    color: #fff;
}